<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {title: 'userDetail', estilo:'/stylesheets/form-style.css'}) %>
    <body>
        <%- include('../partials/header') %>
        <main>          
            <form name="ProfileDelete" action="/users/profile/delete/<%= user.id %>?_method=DELETE" method="POST">
                <h2>¡Hola <%= user.name %>! </h2></br>

                <div class="foto">
                    <label for="imagenUsuario">
                        <img 
                            class="img" 
                            src="/images/users/profileImages/<%= user.avatar%>"
                            alt="imagenUsuario"
                            style="border-radius: 10%; border:solid 1px var(--button);box-shadow: 2px 2px 6px;"
                        >
                    </label>
                </div>

                <div class="campo">
                    <label for="nombre">
                        <i class="fa-solid fa-user">
                        </i> Nombre: 
                    </label>
                    <span style="text-align: left;">
                        <%= user.name%>
                    </span>
                </div>

                <div class="campo">
                    <label for="apellido">
                        <i class="fa-solid fa-user">
                        </i> Apellido: 
                    </label>
                    <span style="text-align: left;">
                        <%= user.lastName %>
                    </span>
                </div>
                
                
                <div class="campo">
                    <label for="fecha_de_nacimiento">
                        <i class="fa-solid fa-calendar-days">
                        </i> Fecha de Nacimiento: 
                    </label>
                    <span style="text-align: left;">
                        <%= user.birthdate %> 
                    </span>
                </div>

                <div class="campo">
                    <label for="email">
                        <i class="fa-solid fa-at">
                        </i> Correo: 
                    </label>
                    <span style="text-align: left;">
                        <%= user.email %> 
                    </span> 
                </div>

                <div class="campo">
                    <label for="password">
                        <i class="fa-solid fa-unlock">
                        </i> Contraseña: 
                    </label>
                    <input 
                        type="password" 
                        name="password" 
                        id="password" 
                        placeholder="Contraseña" 
                        minlength="7"
                        required>
                </div>
                <% if ( locals.errors && errors.password) { %>
                    <span class="text-danger">
                        <%= errors.password.msg %>
                    </span>
                <% } %>
                
                <div class="botones">
                    <button type="submit">BORRAR!</button>
                </div>

                <div class="forgot">
                    <a class="text-left" href="/users/detail/<%= user.id %>">Volver</a>
                </div>
            </form>
        
        </main>
        <%- include('../partials/footer') %>
        <script src="/js/users/userProfile.js"></script>
    </body>
</html>