<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head', {title: 'userDetail', estilo:'/stylesheets/form-style.css'}) %>
    <body>
        <%- include('../partials/header') %>
        <main>          
            <form name="Profile" action="/users/profile/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <h2>¡Hola <%= user.name %>! </h2></br>

                <div class="foto">
                    <label for="imagenUsuario">
                        <img 
                            class="img" 
                            src="/images/users/profileImages/<%= user.avatar%>"
                            alt="imagenUsuario"
                            style="border-radius: 10%; border:solid 1px var(--button);box-shadow: 2px 2px 6px;"
                        >
                    </label>
                </div>

                <div class="campo file">
                    <input 
                        id="imagenUsuario" 
                        type="file" 
                        name="imagenUsuario"
                        accept="image/png, image/jpeg , image/jpg"
                    >
                </div>

                <% if ( locals.errors && errors.imagenUsuario) { %>
                    <span class="text-danger">
                        <%= errors.imagenUsuario.msg %>
                    </span>
                <% } %>

                <div class="campo">
                    <label for="nombre">
                        <i class="fa-solid fa-user">
                        </i> Nombre: 
                    </label>
                    <input 
                        class="nombre" 
                        type="text" 
                        name="nombre" 
                        id="nombre" 
                        value= '<%= user.name%>'
                        minlength="1"
                        required
                    >
                </div>
                <% if (locals.errors && errors.nombre) { %>
                    <span class="feedback text-danger">
                        <%= errors.nombre.msg %>
                    </span>
                <% } %>

                <div class="campo">
                    <label for="apellido">
                        <i class="fa-solid fa-user">
                        </i> Apellido: 
                    </label>
                    <input 
                        class="apellido" 
                        type="text" 
                        name="apellido" 
                        id="apellido" 
                        placeholder="agrega tu apellido"
                        value= '<%= user.lastName %>' 
                        minlength="1"
                        required
                    >
                </div>
                <% if (locals.errors && errors.apellido) { %>
                    <span class="feedback text-danger">
                        <%= errors.apellido.msg %>
                    </span>
                <% } %>
                
                
                <div class="campo">
                    <label for="fecha_de_nacimiento">
                        <i class="fa-solid fa-calendar-days">
                        </i> Fecha de Nacimiento: 
                    </label>
                    <input 
                        type="date" 
                        name="fecha_de_nacimiento" 
                        id="fecha_de_nacimiento" 
                        value= '<%= user.birthdate %>'
                        max="2004-01-01"
                        min="1900-01-01" 
                    >
                </div>
                <% if (locals.errors && errors.fecha_de_nacimiento) { %>
                    <span class="feedback text-danger">
                        <%= errors.fecha_de_nacimiento.msg %>
                    </span>
                <% } %>

                <div class="campo">
                    <label for="email">
                        <i class="fa-solid fa-at">
                        </i> Correo: 
                    </label>
                    <span style="text-align: left;">
                        <%= user.email %> 
                    </span> 
                </div>

                <% if (locals.isLogged && locals.userLogged.isAdmin === true) { %>
                    <div class="campo">
                        <label> Activar Usuario: </label>
                        <label>
                            Si
                            <input 
                            type="radio" 
                            name="activarUser"
                            id="activarUser"
                            value= "true"
                            <% if (user.isActive) { %>
                                checked
                            <% } %>
                            >
                        </label>
                            
                        <label>
                            No
                            <input 
                            type="radio" 
                            name="activarUser"
                            id="desactivarUser"
                            value= "false"
                            <% if (!user.isActive) { %>
                                checked
                            <% } %>
                            >
                        </label>
                    </div>
                    <div class="campo">
                        <label> Hacer Admin: </label>
                        <label>
                            Si
                            <input 
                            type="radio" 
                            name="userAdmin"
                            id="hacerAdmin"
                            value= "true"
                            <% if (user.isAdmin) { %>
                                checked
                            <% } %>
                            >
                        </label>
                            
                        <label>
                            No
                            <input 
                            type="radio" 
                            name="userAdmin"
                            id="deshacerAdmin"
                            value= "false"
                            <% if (!user.isAdmin) { %>
                                checked
                            <% } %>
                            >
                        </label>
                    </div>
                    <% } %>
                
                <div class="botones">
                    
                    <button type="submit">Editar</button>
                    <button type="button"><a href="/users/profile/delete/<%= user.id %>"> Borrar </a></button>
            
    
                </div>
            </form>
        </main>
        <%- include('../partials/footer') %>
        <script src="/js/users/userProfile.js"></script>
    </body>
</html>