<!DOCTYPE html>
<html lang="es">
    
    <%- include('../partials/head', {title: 'Registro', estilo:'/stylesheets/form-style.css'}) %>
    
    <body>
        
        <%- include('../partials/header') %>

        <main>          
            
            <form name="Register" action="/users/register" method="post" enctype="multipart/form-data" id="form">
                <h1>¡Registrate!</h1>
                <section class="errores">
                    <ul>
                        
                    </ul>
                </section>
                <!-- <div class="foto">
                        <label for="avatar">
                            <i class="fa-solid fa-circle-user"></i>
                        </label>
    
                        <button
                            class="add" 
                            type="button" 
                            name="addAvatar"
                            >
                        </button>
                            <label for="imagenUsuario"> +
                                <input 
                                    id="imagenUsuario" 
                                    type="file" 
                                    name="imagenUsuario" 
                                >
                            </label>
                   
                </div> -->
                <div class="foto">
                    <label for="avatar">
                        <i class="fa-solid fa-circle-user"></i>
                    </label>
                </div>
                <div class="campo file">
                    <input
                        id="imagenUsuario" 
                        type="file" 
                        name="imagenUsuario"
                        accept="image/png, image/jpeg , image/jpg"
                        value= "<%= locals.oldData ? oldData.imagenUsuario : null %>"
                    >
                </div>
                <% if ( locals.errors && errors.imagenUsuario) { %>
                    <span class="text-danger">
                        <%= errors.imagenUsuario.msg %>
                    </span>
                <% } %>

                <div class="campo">
                    <label for="nombre">
                        <i class="fa-solid fa-user">
                        </i> Nombre: 
                    </label>
                    <input 
                        id="name"
                        type="text" 
                        name="nombre" 
                        placeholder="Nombre" 
                        class="nombre_y_apellido form-control <%= locals.errors && errors.nombre_y_apellido ? 'is-invalid' : null %>" 
                        value= "<%= locals.oldData ? oldData.nombre : null %>"
                        minlength="1"
                        required
                    >
                </div>
                <% if ( locals.errors && errors.nombre) { %>
                    <span class="text-danger">
                        <%= errors.nombre.msg %>
                    </span>
                <% } %>

                <div class="campo">
                    <label for="email">
                        <i class="fa-solid fa-at">
                        </i> e-mail: 
                    </label>
                    <input 
                        type="email" 
                        name="email" 
                        id="email" 
                        placeholder="e-mail"
                        class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>" 
                        value= "<%= locals.oldData ? oldData.email : null %>"
                        required 
                    >
                </div>
                <% if ( locals.errors && errors.email) { %>
                    <span class="text-danger">
                        <%= errors.email.msg %>
                    </span>
                <% } %>
                
                <div class="campo">
                    <label for="fecha_de_nacimiento">
                        <i class="fa-solid fa-calendar-days">
                        </i> Fecha de nacimiento: 
                    </label>
                    <input 
                        type="date" 
                        name="fecha_de_nacimiento" 
                        id="fecha_de_nacimiento" 
                        class="form-control <%= locals.errors && errors.fecha_de_nacimiento ? 'is-invalid' : null %>" 
                        value= "<%= locals.oldData ? oldData.fecha_de_nacimiento : null %>"
                        max="2004-01-01"
                        min="1900-01-01"
                        required
                    >
                </div>
                <% if ( locals.errors && errors.fecha_de_nacimiento) { %>
                    <span class="text-danger">
                        <%= errors.fecha_de_nacimiento.msg %>
                    </span>
                <% } %>

                <div class="campo">
                    <label for="password">
                        <i class="fa-solid fa-unlock">
                        </i> Contraseña: 
                    </label>
                    <input 
                        type="password" 
                        name="password" 
                        id="password" 
                        placeholder="Contraseña"
                        class="form-control <%= locals.errors && errors.pasword ? 'is-invalid' : null %>" 
                        required
                    >
                </div>
                <% if ( locals.errors && errors.password) { %>
                    <span class="text-danger">
                        <%= errors.password.msg %>
                    </span>
                <% } %>

                <div class="campo">
                    <label for="comfirmPassword">
                        <i class="fa-solid fa-lock">
                        </i> Confirmar contraseña: 
                    </label>
                    <input 
                        type="password" 
                        name="comfirmPassword" 
                        id="comfirmPassword" 
                        placeholder= "Confirmar contraseña"
                        class="form-control <%= locals.errors && errors.comfirmPassword ? 'is-invalid' : null %>"
                        required 
                    >
                </div>
                <% if ( locals.errors && errors.comfirmPassword) { %>
                    <span class="text-danger">
                        <%= errors.comfirmPassword.msg %>
                    </span>
                <% } %>

                <% if (locals.isLogged && locals.userLogged.isAdmin===true) { %>
                    <div class="checkbox">
                        <input 
                            type="checkbox" 
                            name="serAdmin"
                            id="serAdmin"
                            class="form-control <%= locals.errors && errors.fecha_de_nacimiento ? 'is-invalid' : null %>" 
                            value= "<%= locals.oldData ? oldData.serAdmin : null %>"
                        >
                        <label> Hacer Admin</label>
                    </div>
                <% } %>
                    
                
                <div class="botones">
                    <button type="submit">Enviar</button>
                    <button action="/" type="reset">Borrar</button>
                </div>
            </form>
        </main>

        <%- include('../partials/footer') %>
        <script src="/js/users/userRegister.js"></script>
    </body>
</html>